@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0c0c0c;
  color: #d7e2ea;
  font-family: 'Kanit', sans-serif;
}

section[id] {
  scroll-margin-top: 1.5rem;
}
